*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#07130d;
    color:white;
}

header{
    background:#0d1f16;
    padding:30px;
    text-align:center;
    border-bottom:2px solid #1e5b3d;
}

header h1{
    font-size:3rem;
    color:#5cff9d;
}

header p{
    margin-top:10px;
    color:#b8ffcf;
}

.hero{
    min-height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
    background:linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)),
    url('img/fondo.jpg');
    background-size:cover;
    background-position:center;
}

.content{
    max-width:700px;
}

.content h2{
    font-size:3rem;
    margin-bottom:20px;
}

.content p{
    font-size:1.2rem;
    line-height:1.8;
    margin-bottom:40px;
    color:#d7d7d7;
}

.btn{
    display:inline-block;
    padding:18px 40px;
    background:#27ae60;
    color:white;
    text-decoration:none;
    border-radius:12px;
    font-size:1.2rem;
    transition:.3s;
}

.btn:hover{
    background:#2ecc71;
    transform:scale(1.05);
}

.features{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    padding:80px 40px;
}

.card{
    background:#10261a;
    padding:30px;
    border-radius:20px;
    border:1px solid #1d5b3f;
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    color:#5cff9d;
    margin-bottom:15px;
}

.card p{
    color:#d6d6d6;
    line-height:1.6;
}

footer{
    text-align:center;
    padding:30px;
    background:#0d1f16;
    border-top:2px solid #1e5b3d;
}